# /boot/grub/xorg_proprietary.cfg
# Opções avançadas para Xorg com Proprietary Drivers

# Submenu: Opções para Hybrid GPU
submenu "7.0.0 Options to Hybrid GPU" {
  menuentry "7.0.1 Intel Xorg as Primary + Nvidia ModeSetting - PAT" --class=@DIST_NAME@.@ARCH@ {
    set gfxpayload=keep
    linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 radeon.modeset=1 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw nosoftlockup audit=0 nomce skew_tick=1 intremap=off split_lock_detect=off clearcpuid=514 quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash bignvidia=1
    initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
  }
  menuentry "7.0.2 Intel Xorg as Primary + Nvidia ModeSetting + PAT" --class=@DIST_NAME@.@ARCH@ {
    set gfxpayload=keep
    linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 nvidia-drm.modeset=1 radeon.modeset=1 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw nosoftlockup audit=0 nomce skew_tick=1 intremap=off split_lock_detect=off clearcpuid=514 quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash bignvidia=2
    initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
  }
  menuentry "7.0.3 Intel ModeSetting as Primary + Nvidia ModeSetting - PAT" --class=@DIST_NAME@.@ARCH@ {
    set gfxpayload=keep
    linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 nvidia-drm.modeset=1 i915.modeset=1 radeon.modeset=1 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw nosoftlockup audit=0 nomce skew_tick=1 intremap=off split_lock_detect=off clearcpuid=514 quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash bignvidia=3
    initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
  }
  menuentry "7.0.4 Intel ModeSetting as Primary + Nvidia ModeSetting + PAT" --class=@DIST_NAME@.@ARCH@ {
    set gfxpayload=keep
    linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 nvidia-drm.modeset=1 i915.modeset=1 radeon.modeset=1 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw nosoftlockup audit=0 nomce skew_tick=1 intremap=off split_lock_detect=off clearcpuid=514 quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash bignvidia=4
    initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
  }
  menuentry "7.0.5 Intel Xorg as Primary + Nvidia Xorg - PAT" --class=@DIST_NAME@.@ARCH@ {
    set gfxpayload=keep
    linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 radeon.modeset=1 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw nosoftlockup audit=0 nomce skew_tick=1 intremap=off split_lock_detect=off clearcpuid=514 quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash bignvidia=5
    initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
  }
  menuentry "7.0.6 Intel ModeSetting as Primary + Nvidia Xorg + PAT" --class=@DIST_NAME@.@ARCH@ {
    set gfxpayload=keep
    linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 radeon.modeset=1 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw nosoftlockup audit=0 nomce skew_tick=1 intremap=off split_lock_detect=off clearcpuid=514 quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash bignvidia=6
    initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
  }
  menuentry "7.0.7 Nvidia ModeSetting - PAT as Primary + Intel ModeSetting" --class=@DIST_NAME@.@ARCH@ {
    set gfxpayload=keep
    linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 nvidia-drm.modeset=1 i915.modeset=1 radeon.modeset=1 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw nosoftlockup audit=0 nomce skew_tick=1 intremap=off split_lock_detect=off clearcpuid=514 quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash bignvidia=7
    initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
  }
  menuentry "7.0.8 Intel Xorg as Primary + Nvidia Xorg + PAT" --class=@DIST_NAME@.@ARCH@ {
    set gfxpayload=keep
    linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 radeon.modeset=1 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw nosoftlockup audit=0 nomce skew_tick=1 intremap=off split_lock_detect=off clearcpuid=514 quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash bignvidia=8
    initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
  }
  menuentry "7.0.9 Nvidia ModeSetting - PAT as Primary + Intel Xorg" --class=@DIST_NAME@.@ARCH@ {
    set gfxpayload=keep
    linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 nvidia-drm.modeset=1 radeon.modeset=1 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw nosoftlockup audit=0 nomce skew_tick=1 intremap=off split_lock_detect=off clearcpuid=514 quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash bignvidia=9
    initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
  }
  menuentry "7.0.10 Nvidia ModeSetting + PAT as Primary + Intel Xorg" --class=@DIST_NAME@.@ARCH@ {
    set gfxpayload=keep
    linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 nvidia-drm.modeset=1 radeon.modeset=1 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw nosoftlockup audit=0 nomce skew_tick=1 intremap=off split_lock_detect=off clearcpuid=514 quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash bignvidia=10
    initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
  }
  menuentry "7.0.11 Nvidia ModeSetting - PAT as Primary + Intel ModeSetting" --class=@DIST_NAME@.@ARCH@ {
    set gfxpayload=keep
    linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 nvidia-drm.modeset=1 i915.modeset=1 radeon.modeset=1 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw nosoftlockup audit=0 nomce skew_tick=1 intremap=off split_lock_detect=off clearcpuid=514 quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash bignvidia=11
    initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
  }
  menuentry "7.0.12 Nvidia ModeSetting + PAT as Primary + Intel ModeSetting" --class=@DIST_NAME@.@ARCH@ {
    set gfxpayload=keep
    linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 nvidia-drm.modeset=1 i915.modeset=1 radeon.modeset=1 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw nosoftlockup audit=0 nomce skew_tick=1 intremap=off split_lock_detect=off clearcpuid=514 quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash bignvidia=12
    initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
  }
}

menuentry "7.1 Open in Installer" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 i915.modeset=1 radeon.modeset=1 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw nosoftlockup audit=0 nomce skew_tick=1 intremap=off split_lock_detect=off clearcpuid=514 quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash biglinux.bootcmd=only-calamares
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.2 Open in Plasma" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 i915.modeset=1 radeon.modeset=1 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw nosoftlockup audit=0 nomce skew_tick=1 intremap=off split_lock_detect=off clearcpuid=514 quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash biglinux.bootcmd=boot-in-plasma
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.3 Open in Terminal" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 i915.modeset=1 radeon.modeset=1 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw nosoftlockup audit=0 nomce skew_tick=1 intremap=off split_lock_detect=off clearcpuid=514 quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash biglinux.bootcmd=urxvt
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.4 without ibt" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 i915.modeset=1 radeon.modeset=1 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw nosoftlockup audit=0 nomce skew_tick=1 intremap=off split_lock_detect=off clearcpuid=514 quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash ibt=off
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.5 Remove modeset (without modeset)" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 i915.modeset=0 radeon.modeset=0 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.6 Default power state max latency (nvme_core.default_ps_max_latency_us)=0" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw nvme_core.default_ps_max_latency_us=0 quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.7 Add switches (nopat noapic noapci nolapic irqpoll iommu=soft hpet=disable)" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 nopat noapic noapci nolapic irqpoll iommu=soft hpet=disable nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.8 Disable S-VIDEO and hpet (video=SVIDEO-1:d hpet=disable)" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 video=SVIDEO-1:d hpet=disable nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.9 Disable S-VIDEO (video=SVIDEO-1:d)" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 video=SVIDEO-1:d nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.10 Disable hpet (hpet=disable)" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 hpet=disable nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.11 Enable optimizations (i915.semaphores=1)" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 i915.semaphores=1 nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.12 Fix Xorg freeze (nopat)" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 nopat nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.13 Boot without splash" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.14 Fix PnP BIOS error (pnpbios=off)" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 pnpbios=off nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.15 Fix PnP BIOS error + switches (pnpbios=off noapic nolapic)" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 pnpbios=off noapic nolapic nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.16 Add OS Linux to ACPI check (acpi_osi=Linux)" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 acpi_osi=Linux nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.17 Add !Windows 2012 to ACPI check (acpi_osi=!Windows 2012)" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 acpi_osi="!Windows 2012" nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.18 Disable ACPI (acpi=off)" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 noacpi acpi=off nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.19 Remap memory (iommu=soft)" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 iommu=soft nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.20 Disable GPU drivers (nomodeset)" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 nomodeset nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}
menuentry "7.21 Add multiple switches" --class=@DIST_NAME@.@ARCH@ {
  set gfxpayload=keep
  linux /boot/vmlinuz-x86_64 misobasedir=manjaro misolabel=BIGLINUXLIVE driver=nonfree nouveau.modeset=0 nopat noapic noapci nolapic nosplash irqpoll nowatchdog tsc=nowatchdog cryptomgr.notests no_timer_check rcupdate.rcu_expedited=1 rw quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash
  initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}

menuentry "Voltar ao menu principal" {
  configfile /boot/grub/grub.cfg
}
